{% extends 'TurizmApp/loyal.html' %}
{% load static%}

{% block title%} START PAGE {% endblock %}

{% block content %}

<div class="features">
    <h1>✮⋆˙ Инфо-страничка ✮⋆˙</h1>
    <div class="text_info"><p>Добрый день! Это страничка проекта "название". На главной страничке вы можете немного узнать о конкурсе.</p></div>
    <div class="text_info"><p>Чтобы добавить результат, нажмите на кнопку "Добавить запись" в панели навигации.</p></div>
    <div class="fon1">
        <img src="{% static 'TurizmApp/img/pic2.jpg' %}" id="pic2">
        <img src="{% static 'TurizmApp/img/pic3.jpg' %}" id="pic3">
    </div>
    <div class="fon2">
        <img src="{% static 'TurizmApp/img/pic1.jpg' %}" id="pic1">
    </div>
    <p>кнопка на оф группу</p>
    <p>text??</p>

</div>
{% endblock %}