{% extends 'TurizmApp/loyal.html' %}

{% block title%} START PAGE {% endblock %}

{% block content %}

<div class="features">
    <h1>✮⋆˙ Инфо-страничка ✮⋆˙</h1>
    <div class="text_info"><p>Добрый день! Это страничка проекта "название". На главной страничке вы можете немного узнать о конкурсе.</p></div>
    <div class="text_info"><p>Чтобы добавить результат, нажмите на кнопку "Добавить запись" в панели навигации.</p></div>
    <p>foto</p>
    <p>foto</p>
    <p>foto</p>
    <p>text??</p>

</div>
{% endblock %}