{% extends 'TurizmApp/loyal.html' %}
{% load static%}

{% block title%} Главная {% endblock %}

{% block content %}

<div class="features">
    <br>
    <h1>✮⋆˙ Инфо-страничка ✮⋆˙</h1><br>
    <div class="text_info">
        <h5>Добрый день! Это страничка проекта "Роза Ветров".</h5>
        <h5>На главной страничке вы можете посмотреть фотографии, почитать краткое описание и перейти в официальную группу во ВКонтакте.</h5>
        <br>
        <h5>Чтобы добавить результат, нажмите на кнопку "Добавить запись" в панели навигации.</h5>
    </div>
    <br>
    <div class="fon2">
        <img src="https://sun9-52.userapi.com/s/v1/if2/TY43ETeAdTO3rEW_E-zTWWMz3v-YvUB1kCfOczwneWd-nArOSJ6pEsjlgY_IudCFVANf6rkDHSn11Np2L04Q4FLD.jpg?quality=95&as=32x24,48x36,72x54,108x81,160x120,240x180,360x270,480x360,540x405,640x480,720x540,1080x810,1280x960&from=bu&u=4hyOXCHPDjjhLDb_yy8_oPQ1_gfTs2UevWuwDQ-d-dg&cs=807x605" id="pic1">
    </div>
    <br>
    <div class="text_info">
        <h5>Все мероприятия проекта направлены на привлечение молодежи 14-18 лет к туристическим дисциплинам. </h5>
        <h5>Без ограничений, на все мероприятия можно прийти родителям, друзьям и просто зрителям!</h5>
        <br>
        <h5 style="font-style: oblique;">"Приходите поддержать участников, насладиться атмосферой и зарядиться позитивом. Часто мы просим наших гостей тоже пройти регистрацию, например чтобы участвовать в розыгрышах или чтобы получить сувениры от нашей команды"</h5>
    </div>
    <br>
    <div class="fon1">
        <img src="https://sun9-63.userapi.com/s/v1/ig2/i5VDvJPUdwRxO_2J6FzVEhD7izGlQojP1AHNZEiy0S6l7b1E38D3PXehiNY74g25lqQvm3cWMN9GptxJDXlQtDGN.jpg?quality=95&as=32x52,48x78,72x117,108x176,160x261,240x391,360x587,480x783,540x880,640x1043,720x1174,1080x1761,1280x2087,1290x2103&from=bu&u=DHPmri637yS8nrzPVIfUtBqPamGu6z5eKsDVRzZ9ojM&cs=495x807" id="pic2">
        <img src="https://sun9-23.userapi.com/s/v1/ig2/sfcxx9tv_MTrZMBXuEGugnQcJBR6kjlHTsEre5YIU8JvICYCameS5ACQu7s-6c7yPehVIAwjRzeqtNjhQ2xrjJcr.jpg?quality=95&as=32x52,48x79,72x118,108x177,160x262,240x393,360x589,480x785,540x883,640x1047,720x1178,1080x1767,1280x2094,1290x2110&from=bu&u=By5k9UPJI-1Tfa84SIV0y27gG4jXrwd2ntKLqpwNHTY&cs=493x807" id="pic3">
<!--        {% static 'TurizmApp/img/pic3.jpg' %}-->
    </div>

    <div class="text_info">
        <h5>Самые большие по масштабу соревнования обычно проходят в августе-сентябре.</h5>
        <h5>На зимний период турниры переносятся в помещение, а весной снова проходят на природе в середине мая.</h5>
        <br>
        <h5>Помимо соревнований "Роза Ветров" также проводят мастер-классы, квесты и творческие вечера!</h5>
    </div>
    <br>
    <div class="fon2">
        <img src="https://sun9-37.userapi.com/impg/q-Jj1uOBUnPgyZAPThxVGSgsHqHkM6qSzhtxmg/gXems9lXBNc.jpg?size=1280x729&quality=95&sign=931fa7bd03d02d0b3ab010853f6ec23d&type=album" id="pic4">
    </div>
    <br>
    <a href="https://vk.com/roza_vetrov_krsk"><button class="btn custom-btn">Группа VK "Роза ветров"</button></a>
    <br>

</div>
{% endblock %}