{% extends 'TurizmApp/loyal.html' %}

{% block title%} Добавление записи {% endblock %}

{% block content %}
    <div class="forma_fon">
        <br>
        <br>
        <h1 style="width: 100%; text-align: center;">Форма для добавления результатов</h1><br>
        <form method="post">
            {% csrf_token %}
            {{ form.id_user }}<br>
            {{ form.start_time }}<br>
            {{ form.finish_time }}<br>
            <span>{{ error }}</span><br><br>

            <button class="btn btn-primary" type="submit">Отправить результат</button>
        </form>

    </div>
{% endblock %}