@media (max-width: 2560px) {

    .form-control {
    width: 100%;
    }

    .forma_fon {
        background: #c4daf2;
        width: 100%;
        left: 10%;
        right:10%;
        height: 90vh;
        text-align: center;


    }

    body {
        background: #9bbfe8;

    }

    .blue_fon {
        margin: 2%;
        text-align: center;


    }

    .features h1{
        color: #274a7c;
        text-align: center;
    }

    .features {
        text-align: center;
        background: #c4daf2;

    }

    .text_info {
        color: #274a7c;
        background: #f0f6fc;
        border-radius: 10px;
        width: 90%;
        padding: 1%;
        margin-left: 5%;

        z-index: 1;
    }


    .navigation {
        transition: 0.5s;

        opacity: 0;
    }

    aside {
        float: left;
        background: #826749;
        width: 22%;
        padding: 1.1%;
        height: 100vh;
        color: #e3cfb8;
        border-right: 5px solid #e3cfb8;
        position: fixed;
        margin-top: -2%;
        z-index: 3;

    }

    .custom-btn, .custom-btn:hover, .custom-btn:active, .custom-btn:visited {
        background-color: #6b8c5a;
        color: #fff;
    }

    form {
        margin:0 25% 0 25%;
        width:50%;
    }

    span {
        text-align: center;

        margin:0 25% 2% 25%;
        width:50%;
        padding: 1%;
    }


    #give {
        position: fixed;
        right: 3%;
        z-index: 3;

    }

    .give_a_navigation {
        opacity: 1.0;
    }

    #pic2 {
        height: 35%;
        width: 30%;
        padding: 3%;
        background: #b09071;
    }

    #pic3 {
        height: 35%;
        width: 30%;
        padding: 3%;
        background: #b09071;
    }

    #pic1 {
        height: 40%;
        width: 50%;
        padding: 3%;
        background: #b09071;
    }

    #pic4 {
        height: 40%;
        width: 50%;
        padding: 3%;
        background: #b09071;
    }

    .fon1 {
        display: flex;
        margin-bottom: 5%;
        justify-content: space-evenly;

    }

    .fon2 {

    }

    aside img {
        width: 100px;
        height: 100px;
        float: left;
        left: 0%;
    }

    aside .picha {
        font-size: 33px;
        margin-left: 10px;
        font-weight: bold;
    }

    aside h3{
        margin-top: 50px;
        font-size: 30px;

    }

    aside ul {list-style: none;}
    aside ul li, aside ul a {color: #e3cfb8; display: block; margin-top: 20px; text-decoration: none; transition: transform .6s}
    aside ul li:hover, aside ul a:hover {
        color: #fff;
        transform: scale(1.05);
    }

    .btn-warning, .btn-warning:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #ab8e6d;

    }
}

@media (max-width: 1225px) {
    body {
        background: #9bbfe8;
    }


    aside {
        float: left;
        background: #826749;
        width: 22%;
        padding: 1.1%;
        height: 100vh;
        color: #e3cfb8;
        border-right: 5px solid #e3cfb8;
    }

    aside img {
        width: 60px;
        height: 60px;
        float: left;
        left: 0%;
    }

    aside .picha {
        font-size: 30px;
        margin-left: 10px;
        font-weight: bold;
    }

    aside h3{
        margin-top: 50px;
        font-size: 30px;
    }

    aside ul {list-style: none;}
    aside ul li, aside ul a {color: #e3cfb8; display: block; margin-top: 20px; text-decoration: none; transition: transform .6s}
    aside ul li:hover, aside ul a:hover {
        color: #fff;
        transform: scale(1.05);
    }

    .btn-warning, .btn-warning:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #ab8e6d;
    }

    features h1{
            font-size: 100px;
    }
}

@media (max-width: 768px){
    body {
        background: #9bbfe8;
    }

    aside {
        float: left;
        background: #826749;
        width: 22%;
        padding: 1.1%;
        margin 5px;
        height: 100vh;
        color: #e3cfb8;
        border-right: 5px solid #e3cfb8;
    }

    aside img {
        width: 40px;
        height: 40px;
        float: left;
        left: 0%;
    }

    aside .picha {
        font-size: 1em;
        margin-top: 5px;
        margin-left: 0px;
        font-weight: bold;
    }

    aside h3{
        margin-top: 30px;
        font-size: 1em;
    }

    aside ul {list-style: none;}
    aside ul li, aside ul a {color: #e3cfb8; display: block; margin-top: 20px; text-decoration: none; transition: transform .6s}
    aside ul li:hover, aside ul a:hover {
        color: #fff;
        transform: scale(1.05);
    }

    .btn-warning, .btn-warning:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #ab8e6d;
    }
}

@media (max-width: 540px){

    aside {
        float: left;
        background: #826749;
        width: 40%;
        padding: 1.1%;
        margin 2px;
        height: 100vh;
        color: #e3cfb8;
        border-right: 5px solid #e3cfb8;
    }

    aside img {
        width: 50px;
        height: 50px;
        float: left;
        left: 0%;
    }

    aside .picha {
        font-size: 1em;
        margin-top: 5px;
        margin-left: 0px;
        font-weight: bold;
    }

    form {
        margin:0 15% 0 15%;
        width:70%;
    }


    aside h3{
        margin-top: 30px;
        font-size: 1em;
    }

    #pic2 {
        height: 45%;
        width: 40%;
        padding: 3%;
        background: #b09071;
    }

    #pic3 {
        height: 45%;
        width: 40%;
        padding: 3%;
        background: #b09071;
    }

    #pic1 {
        height: 50%;
        width: 60%;
        padding: 3%;
        background: #b09071;
    }

    #pic4 {
        height: 50%;
        width: 60%;
        padding: 3%;
        background: #b09071;
    }

    aside ul {list-style: none;}
    aside ul li, aside ul a {color: #e3cfb8; display: block; margin-top: 10px; text-decoration: none; transition: transform .6s}
    aside ul li:hover, aside ul a:hover {
        color: #fff;
        transform: scale(1.05);
    }

}